In [2]:
import pandas as pd
import numpy as np

In [4]:
education_df= pd.read_csv("../Data/SYB65_309_202209_Education.csv")
education_df

,Index,Region/Country/Area,Year,Series,Value,Footnotes,Source
0,1,"Total, all countries or areas",2005,Students enrolled in primary education (thousa...,"679,014",NaN,"United Nations Educational, Scientific and Cul..."
1,1,"Total, all countries or areas",2005,Gross enrollment ratio - Primary (male),104.5,NaN,"United Nations Educational, Scientific and Cul..."
2,1,"Total, all countries or areas",2005,Gross enrollment ratio - Primary (female),99.7,NaN,"United Nations Educational, Scientific and Cul..."
3,1,"Total, all countries or areas",2005,Students enrolled in secondary education (thou...,"509,277",NaN,"United Nations Educational, Scientific and Cul..."
4,1,"Total, all countries or areas",2005,Gross enrollment ratio - Secondary (male),65.8,NaN,"United Nations Educational, Scientific and Cul..."
...,...,...,...,...,...,...,...
7277,716,Zimbabwe,2015,Gross enrollment ratio - Primary (male),104.9,NaN,"United Nations Educational, Scientific and Cul..."
7278,716,Zimbabwe,2015,Gross enrollment ratio - Primary (female),102.8,NaN,"United Nations Educational, Scientific and Cul..."
7279,716,Zimbabwe,2020,Students enrolled in primary education (thousa...,"2,870",NaN,"United Nations Educational, Scientific and Cul..."
7280,716,Zimbabwe,2020,Gross enrollment ratio - Primary (male),97.1,NaN,"United Nations Educational, Scientific and Cul..."
7281,716,Zimbabwe,2020,Gross enrollment ratio - Primary (female),97.6,NaN,"United Nations Educational, Scientific and Cul..."

In [5]:
#drop footnotes
education_df = education_df.drop(columns =['Footnotes'])

In [6]:
#drop Source
education_df = education_df.drop(columns =['Source'])

In [8]:
#drop Index
education_df = education_df.drop(columns =['Index'])

In [9]:

education_df

,Region/Country/Area,Year,Series,Value
0,"Total, all countries or areas",2005,Students enrolled in primary education (thousa...,"679,014"
1,"Total, all countries or areas",2005,Gross enrollment ratio - Primary (male),104.5
2,"Total, all countries or areas",2005,Gross enrollment ratio - Primary (female),99.7
3,"Total, all countries or areas",2005,Students enrolled in secondary education (thou...,"509,277"
4,"Total, all countries or areas",2005,Gross enrollment ratio - Secondary (male),65.8
...,...,...,...,...
7277,Zimbabwe,2015,Gross enrollment ratio - Primary (male),104.9
7278,Zimbabwe,2015,Gross enrollment ratio - Primary (female),102.8
7279,Zimbabwe,2020,Students enrolled in primary education (thousa...,"2,870"
7280,Zimbabwe,2020,Gross enrollment ratio - Primary (male),97.1
7281,Zimbabwe,2020,Gross enrollment ratio - Primary (female),97.6

In [10]:
#convert to CSV
education_df.to_csv('Education.csv')