In [1]:
import pandas as pd 
import numpy as np

In [3]:
who= pd.read_csv("../Data/WHOMortalityDatabase_Deaths_sex_age_a_country_area_year-Self-inflicted injuries_7th December 2022 09_50.csv")
who

,Region_Code,Region_Name,Country_Code,Country_Name,Year,Sex,Age_group,Age,Number,Percentage_of_cause_specific_deaths_out_of_total_deaths,Age_standardized_death_rate_per_100_000_standard_population,Death_rate_per_100_000_population
0,EU,Europe,ALB,Albania,1987,All,Age_all,[All],73.0,0.421332,2.4743,2.373135
1,EU,Europe,ALB,Albania,1987,All,Age00,[0],0.0,0.000000,NaN,0.000000
2,EU,Europe,ALB,Albania,1987,All,Age01_04,[1-4],0.0,0.000000,NaN,0.000000
3,EU,Europe,ALB,Albania,1987,All,Age05_09,[5-9],0.0,0.000000,NaN,0.000000
4,EU,Europe,ALB,Albania,1987,All,Age10_14,[10-14],0.0,0.000000,NaN,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...
290740,NAC,North America and the Caribbean,USA,United States of America,2020,Female,Age70_74,[70-74],413.0,0.259984,NaN,5.357135
290741,NAC,North America and the Caribbean,USA,United States of America,2020,Female,Age75_79,[75-79],244.0,0.133743,NaN,4.517893
290742,NAC,North America and the Caribbean,USA,United States of America,2020,Female,Age80_84,[80-84],143.0,0.067841,NaN,3.911829
290743,NAC,North America and the Caribbean,USA,United States of America,2020,Female,Age85_over,[85+],134.0,0.021687,NaN,3.157105
290744,NAC,North America and the Caribbean,USA,United States of America,2020,Female,Age_unknown,[Unknown],1.0,2.702703,NaN,NaN

In [7]:
who.Age=who.Age.str.replace('[', '').str.replace(']','')

C:\Users\lisha\AppData\Local\Temp\ipykernel_16084\2841137414.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  who.Age=who.Age.str.replace('[', '').str.replace(']','')

In [9]:
who.to_csv("../Data/Suicides_by_Country.csv", index=False)

In [10]:
who

,Region_Code,Region_Name,Country_Code,Country_Name,Year,Sex,Age_group,Age,Number,Percentage_of_cause_specific_deaths_out_of_total_deaths,Age_standardized_death_rate_per_100_000_standard_population,Death_rate_per_100_000_population
0,EU,Europe,ALB,Albania,1987,All,Age_all,All,73.0,0.421332,2.4743,2.373135
1,EU,Europe,ALB,Albania,1987,All,Age00,0,0.0,0.000000,NaN,0.000000
2,EU,Europe,ALB,Albania,1987,All,Age01_04,1-4,0.0,0.000000,NaN,0.000000
3,EU,Europe,ALB,Albania,1987,All,Age05_09,5-9,0.0,0.000000,NaN,0.000000
4,EU,Europe,ALB,Albania,1987,All,Age10_14,10-14,0.0,0.000000,NaN,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...
290740,NAC,North America and the Caribbean,USA,United States of America,2020,Female,Age70_74,70-74,413.0,0.259984,NaN,5.357135
290741,NAC,North America and the Caribbean,USA,United States of America,2020,Female,Age75_79,75-79,244.0,0.133743,NaN,4.517893
290742,NAC,North America and the Caribbean,USA,United States of America,2020,Female,Age80_84,80-84,143.0,0.067841,NaN,3.911829
290743,NAC,North America and the Caribbean,USA,United States of America,2020,Female,Age85_over,85+,134.0,0.021687,NaN,3.157105
290744,NAC,North America and the Caribbean,USA,United States of America,2020,Female,Age_unknown,Unknown,1.0,2.702703,NaN,NaN