In [1]:
import pandas as pd 
import numpy as np

In [2]:
gdp= pd.read_csv("../Data/Cleaned_data/GDP.csv")
gdp

,Unnamed: 0,Region/Country/Area,Year,Series,Value
0,1,"Total, all countries or areas",2005,GDP in current prices (millions of US dollars),"47,730,924"
1,2,"Total, all countries or areas",2010,GDP in current prices (millions of US dollars),"66,461,443"
2,3,"Total, all countries or areas",2015,GDP in current prices (millions of US dollars),"75,133,208"
3,4,"Total, all countries or areas",2018,GDP in current prices (millions of US dollars),"86,357,998"
4,5,"Total, all countries or areas",2019,GDP in current prices (millions of US dollars),"87,718,575"
...,...,...,...,...,...
5817,6781,Zimbabwe,2010,GDP real rates of growth (percent),19.7
5818,6782,Zimbabwe,2015,GDP real rates of growth (percent),1.8
5819,6783,Zimbabwe,2018,GDP real rates of growth (percent),4.8
5820,6784,Zimbabwe,2019,GDP real rates of growth (percent),-8.3
5821,6785,Zimbabwe,2020,GDP real rates of growth (percent),0.8

In [3]:
gdp = gdp.rename(columns={'Region/Country/Area':'Country'})
gdp

,Unnamed: 0,Country,Year,Series,Value
0,1,"Total, all countries or areas",2005,GDP in current prices (millions of US dollars),"47,730,924"
1,2,"Total, all countries or areas",2010,GDP in current prices (millions of US dollars),"66,461,443"
2,3,"Total, all countries or areas",2015,GDP in current prices (millions of US dollars),"75,133,208"
3,4,"Total, all countries or areas",2018,GDP in current prices (millions of US dollars),"86,357,998"
4,5,"Total, all countries or areas",2019,GDP in current prices (millions of US dollars),"87,718,575"
...,...,...,...,...,...
5817,6781,Zimbabwe,2010,GDP real rates of growth (percent),19.7
5818,6782,Zimbabwe,2015,GDP real rates of growth (percent),1.8
5819,6783,Zimbabwe,2018,GDP real rates of growth (percent),4.8
5820,6784,Zimbabwe,2019,GDP real rates of growth (percent),-8.3
5821,6785,Zimbabwe,2020,GDP real rates of growth (percent),0.8

In [4]:
pop= pd.read_csv("../Data/Cleaned_data/Suicides_per_100K.csv")
pop

      Unnamed: 0      Country  Year  Per_100K
0           3659     Zimbabwe  2019      23.6
1           3476     Zimbabwe  2018      23.9
2           3293     Zimbabwe  2017      25.9
3           3110     Zimbabwe  2016      28.7
4           2927     Zimbabwe  2015      30.7
...          ...          ...   ...       ...
3655         732  Afghanistan  2004       7.8
3656         549  Afghanistan  2003       7.7
3657         366  Afghanistan  2002       7.9
3658         183  Afghanistan  2001       7.9
3659           0  Afghanistan  2000       7.7

[3660 rows x 4 columns]

merge both dataframes and connect on Country and Year. Outer Join  Left is GDP Right is POP

In [5]:
gdp_pop_df=pd.merge(gdp,pop,on=['Country','Year'], how='outer',indicator=True)

gdp_pop_df

,Unnamed: 0_x,Country,Year,Series,Value,Unnamed: 0_y,Per_100K,_merge
0,1.0,"Total, all countries or areas",2005,GDP in current prices (millions of US dollars),"47,730,924",NaN,NaN,left_only
1,8.0,"Total, all countries or areas",2005,GDP per capita (US dollars),"7,298",NaN,NaN,left_only
2,15.0,"Total, all countries or areas",2005,GDP in constant 2010 prices (millions of US do...,"56,429,253",NaN,NaN,left_only
3,22.0,"Total, all countries or areas",2005,GDP real rates of growth (percent),4,NaN,NaN,left_only
4,2.0,"Total, all countries or areas",2010,GDP in current prices (millions of US dollars),"66,461,443",NaN,NaN,left_only
...,...,...,...,...,...,...,...,...
8664,NaN,Afghanistan,2004,NaN,NaN,732.0,7.8,right_only
8665,NaN,Afghanistan,2003,NaN,NaN,549.0,7.7,right_only
8666,NaN,Afghanistan,2002,NaN,NaN,366.0,7.9,right_only
8667,NaN,Afghanistan,2001,NaN,NaN,183.0,7.9,right_only
8668,NaN,Afghanistan,2000,NaN,NaN,0.0,7.7,right_only

In [6]:
#convert to CSV
#gdp_pop_df.to_csv('Suicides_By_country_by_GDP.csv')

In [7]:
#now add population, groth and mortality indicators df to this df (total of 3 df's combined)

In [8]:
all_the_goodies=pd.merge(gdp,pop,on=['Country','Year'], how='outer',indicator=True)

all_the_goodies

,Unnamed: 0_x,Country,Year,Series,Value,Unnamed: 0_y,Per_100K,_merge
0,1.0,"Total, all countries or areas",2005,GDP in current prices (millions of US dollars),"47,730,924",NaN,NaN,left_only
1,8.0,"Total, all countries or areas",2005,GDP per capita (US dollars),"7,298",NaN,NaN,left_only
2,15.0,"Total, all countries or areas",2005,GDP in constant 2010 prices (millions of US do...,"56,429,253",NaN,NaN,left_only
3,22.0,"Total, all countries or areas",2005,GDP real rates of growth (percent),4,NaN,NaN,left_only
4,2.0,"Total, all countries or areas",2010,GDP in current prices (millions of US dollars),"66,461,443",NaN,NaN,left_only
...,...,...,...,...,...,...,...,...
8664,NaN,Afghanistan,2004,NaN,NaN,732.0,7.8,right_only
8665,NaN,Afghanistan,2003,NaN,NaN,549.0,7.7,right_only
8666,NaN,Afghanistan,2002,NaN,NaN,366.0,7.9,right_only
8667,NaN,Afghanistan,2001,NaN,NaN,183.0,7.9,right_only
8668,NaN,Afghanistan,2000,NaN,NaN,0.0,7.7,right_only

In [9]:
#move all 3 df's to one csv

In [10]:
#all_the_goodies.to_csv('Suicides_country_GDP_Population.csv')

In [17]:
#bring in wiki by sex table for 2000-2019. due to error recieved when pulling in the file I had to use latin-1... not sure why but it worked 
sex=pd.read_csv("../Data/Cleaned_data/Suicides_by_sex.csv")
sex

      Row Labels  Sum of Male  Sum of Female  Sum of All
0    Afghanistan        148.8          136.8       144.0
1         Africa        432.0          124.8       268.8
2        Albania        127.2           52.8        88.8
3        Algeria         79.2           45.6        62.4
4       Americas        340.8           98.4       216.0
..           ...          ...            ...         ...
266       Zambia        616.8          127.2       345.6
267     Zanzibar          NaN            NaN         NaN
268     Zimbabwe        907.2          324.0       566.4
269      (blank)          NaN            NaN         NaN
270  Grand Total      65470.9        18386.7     40919.3

[271 rows x 4 columns]

In [12]:
#gdp_sex=pd.merge(gdp,sex,on='Country', how='outer',indicator=True)
#gdp_sex

KeyError: 'Country'

In [ ]:
#convert to CSV
#gdp_sex.to_csv('Suicides_sex_by_GDP.csv')